<% include partials/header.ejs %>

        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <h1>Let's cover about everything</h1>
                    <p><a class="btn btn-primary btn-md" href="/home/new" role="button">add new post</a></p>
                    
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

                </div>
            </div>
        </div>

        <div class="contaier">
            <div class="row">
                <% items.forEach(function(item){ %>
                <div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p id="prg" align="center"><%= item.title %></p>
                        <a href="#" class="thumbnail">
                            <img src="<%= item.image %>">
                        </a>
                        <center>
                            <a class="btn btn-default" href="/home/<%= item._id%>">Read more</a>
                        </center>
                    </div>
                </div>
                <% }) %>
                <!--<div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img/img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img/img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img/img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>-->
            </div>
        </div>

<% include partials/footer.ejs %>