<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <style></style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
    </head>
    <body class="body">
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Home</a>
                <a class="navbar-brand" href="#">Blogs</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <h1>Let's cover about everything</h1>
                    <p><a class="btn btn-primary btn-md" href="#" role="button">add new post</a></p>
                    
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

                </div>
            </div>
        </div>

        <div class="contaier">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p id="prg" align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img/img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img/img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>
                <!--<div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="jumbotron">
                        <p align="center">testing</p>
                        <a href="#" class="thumbnail">
                            <img src="img.png">
                        </a>
                        <center>
                            <button type="button" class="btn btn-default">Read more</button>
                        </center>
                    </div>
                </div>-->
            </div>
        </div>

        <script
            src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        

        <script>
            var elm = document.getElementById('prg');
            elm.style.color = "red";
        </script>
    </body>
</html>